USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Fact_Ventas_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Ventas_G01](
	[billingKey] [int] NOT NULL,
	[dateKey] [int] NOT NULL,
	[customerKey] [int] NOT NULL,
	[productKey] [int] NOT NULL,
	[employeeKey] [int] NOT NULL,
	[regionKey] [int] NULL,
	[customerAgeRangeKey] [int] NULL,
	[employeeYearsEmployedAtSale] [int] NULL,
	[employeeAgeAtSale] [int] NULL,
	[quantity] [int] NOT NULL,
	[liters] [decimal](10, 2) NULL,
	[unitPrice] [decimal](10, 2) NULL,
	[grossAmount] [decimal](12, 2) NULL,
	[discountPercentage] [decimal](5, 2) NULL,
	[discountAmount] [decimal](12, 2) NULL,
	[netAmount] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Fact_Ventas_G01] PRIMARY KEY CLUSTERED 
(
	[billingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Ventas_G01]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Cliente] FOREIGN KEY([customerKey])
REFERENCES [dbo].[Dim_Cliente_G01] ([customerKey])
GO
ALTER TABLE [dbo].[Fact_Ventas_G01] CHECK CONSTRAINT [FK_Fact_Cliente]
GO
ALTER TABLE [dbo].[Fact_Ventas_G01]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Date] FOREIGN KEY([dateKey])
REFERENCES [dbo].[Dim_Fecha_G01] ([dateKey])
GO
ALTER TABLE [dbo].[Fact_Ventas_G01] CHECK CONSTRAINT [FK_Fact_Date]
GO
ALTER TABLE [dbo].[Fact_Ventas_G01]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Empleado] FOREIGN KEY([employeeKey])
REFERENCES [dbo].[Dim_Empleado_G01] ([employeeKey])
GO
ALTER TABLE [dbo].[Fact_Ventas_G01] CHECK CONSTRAINT [FK_Fact_Empleado]
GO
ALTER TABLE [dbo].[Fact_Ventas_G01]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Producto] FOREIGN KEY([productKey])
REFERENCES [dbo].[Dim_Producto_G01] ([productKey])
GO
ALTER TABLE [dbo].[Fact_Ventas_G01] CHECK CONSTRAINT [FK_Fact_Producto]
GO
ALTER TABLE [dbo].[Fact_Ventas_G01]  WITH CHECK ADD  CONSTRAINT [FK_Fact_RangoEtario_Cliente] FOREIGN KEY([customerAgeRangeKey])
REFERENCES [dbo].[Dim_RangoEtario_G01] ([ageRangeKey])
GO
ALTER TABLE [dbo].[Fact_Ventas_G01] CHECK CONSTRAINT [FK_Fact_RangoEtario_Cliente]
GO
ALTER TABLE [dbo].[Fact_Ventas_G01]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Region] FOREIGN KEY([regionKey])
REFERENCES [dbo].[Dim_Region_G01] ([regionKey])
GO
ALTER TABLE [dbo].[Fact_Ventas_G01] CHECK CONSTRAINT [FK_Fact_Region]
GO
