USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Dim_Producto_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Producto_G01](
	[productKey] [int] IDENTITY(1,1) NOT NULL,
	[productId] [varchar](50) NOT NULL,
	[productName] [varchar](200) NULL,
	[category] [varchar](50) NULL,
	[package] [varchar](100) NULL,
	[packageType] [varchar](20) NULL,
	[packageSizeMl] [int] NULL,
	[packageSizeLiters] [decimal](10, 3) NULL,
	[isDiet] [bit] NULL,
	[isCan] [bit] NULL,
	[isBottle] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[productKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
