USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Dim_Empleado_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Empleado_G01](
	[employeeKey] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [varchar](50) NULL,
	[fullName] [varchar](200) NULL,
	[gender] [varchar](10) NULL,
	[category] [varchar](50) NULL,
	[employmentDate] [date] NULL,
	[birthDate] [date] NULL,
	[age] [int] NULL,
	[ageRangeKey] [int] NULL,
	[educationLevel] [varchar](50) NULL,
	[yearsEmployed] [int] NULL,
	[seniorityGroup] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_Empleado_G01]  WITH CHECK ADD FOREIGN KEY([ageRangeKey])
REFERENCES [dbo].[Dim_RangoEtario_G01] ([ageRangeKey])
GO
