USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Dim_RangoEtario_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_RangoEtario_G01](
	[ageRangeKey] [int] IDENTITY(1,1) NOT NULL,
	[rangeDescription] [varchar](50) NOT NULL,
	[expandedRangeDescription] [varchar](100) NOT NULL,
	[minAge] [int] NOT NULL,
	[maxAge] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ageRangeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
