USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Dim_Region_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Region_G01](
	[regionKey] [int] IDENTITY(1,1) NOT NULL,
	[region] [varchar](50) NULL,
	[regionDescription] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[city] [varchar](100) NULL,
	[zipcode] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[regionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
