USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Dim_Fecha_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Fecha_G01](
	[dateKey] [int] NOT NULL,
	[fullDate] [date] NOT NULL,
	[day] [int] NULL,
	[month] [int] NULL,
	[quarter] [int] NULL,
	[year] [int] NULL,
	[dayOfWeek] [int] NULL,
	[dayName] [varchar](20) NULL,
	[monthName] [varchar](20) NULL,
	[isHoliday] [bit] NULL,
	[holidayName] [varchar](100) NULL,
	[weekOfYear] [int] NULL,
	[semester] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
