USE [datawarehouse_2025_G01]
GO
/****** Object:  Table [dbo].[Fact_Stock_G01]    Script Date: 5/5/2026 15:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Stock_G01](
	[stockKey] [int] IDENTITY(1,1) NOT NULL,
	[dateKey] [int] NULL,
	[productKey] [int] NULL,
	[variation] [decimal](10, 2) NULL,
	[stockBalance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[stockKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Stock_G01]  WITH CHECK ADD FOREIGN KEY([dateKey])
REFERENCES [dbo].[Dim_Fecha_G01] ([dateKey])
GO
ALTER TABLE [dbo].[Fact_Stock_G01]  WITH CHECK ADD FOREIGN KEY([productKey])
REFERENCES [dbo].[Dim_Producto_G01] ([productKey])
GO
