USE [bd_staging_2025_G01]
GO
/****** Object:  Table [dbo].[stg_Products_G01]    Script Date: 5/5/2026 15:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Products_G01](
	[PRODUCT_ID] [varchar](50) NULL,
	[DETAIL] [varchar](200) NULL,
	[PACKAGE] [varchar](100) NULL
) ON [PRIMARY]
GO
