USE [bd_staging_2025_G01]
GO
/****** Object:  Table [dbo].[stg_Discounts_G01]    Script Date: 5/5/2026 15:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Discounts_G01](
	[DISCOUNT_ID] [int] NULL,
	[FROM] [nvarchar](255) NULL,
	[UNTIL] [nvarchar](255) NULL,
	[TOTAL_BILLING] [decimal](12, 2) NULL,
	[PERCENTAGE] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
