USE [bd_staging_2025_G01]
GO
/****** Object:  Table [dbo].[stg_Billing_G01]    Script Date: 5/5/2026 15:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Billing_G01](
	[BILLING_ID] [varchar](50) NULL,
	[BRANCH_ID] [varchar](50) NULL,
	[DATE] [nvarchar](255) NULL,
	[CUSTOMER_ID] [varchar](50) NULL,
	[EMPLOYEE_ID] [varchar](50) NULL
) ON [PRIMARY]
GO
