USE [bd_staging_2025_G01]
GO
/****** Object:  Table [dbo].[stg_Holidays_G01]    Script Date: 5/5/2026 15:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Holidays_G01](
	[DATE] [nvarchar](255) NULL,
	[HOLIDAY] [nvarchar](255) NULL
) ON [PRIMARY]
GO
