USE [bd_staging_2025_G01]
GO
/****** Object:  Table [dbo].[stg_CustomerR_G01]    Script Date: 5/5/2026 15:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_CustomerR_G01](
	[CUSTOMER_ID] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](255) NULL,
	[BIRTH_DATE] [nvarchar](255) NULL,
	[CITY] [nvarchar](255) NULL,
	[STATE] [nvarchar](255) NULL,
	[ZIPCODE] [nvarchar](20) NULL
) ON [PRIMARY]
GO
