USE [bd_staging_2025_G01]
GO
/****** Object:  Table [dbo].[stg_Employee_G01]    Script Date: 5/5/2026 15:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Employee_G01](
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](255) NULL,
	[GENDER] [nvarchar](255) NULL,
	[CATEGORY] [nvarchar](255) NULL,
	[EMPLOYMENT_DATE] [nvarchar](255) NULL,
	[BIRTH_DATE] [nvarchar](255) NULL,
	[EDUCATION_LEVEL] [nvarchar](255) NULL
) ON [PRIMARY]
GO
