USE [bd_intermedia_2025_G01]
GO
/****** Object:  Table [dbo].[int_SalesUnified_G01]    Script Date: 5/5/2026 15:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[int_SalesUnified_G01](
	[BILLING_ID] [varchar](50) NULL,
	[DATE] [date] NULL,
	[CUSTOMER_ID] [varchar](50) NULL,
	[EMPLOYEE_ID] [varchar](50) NULL,
	[PRODUCT_ID] [varchar](50) NULL,
	[QUANTITY] [decimal](10, 2) NULL,
	[SOURCE] [varchar](20) NULL
) ON [PRIMARY]
GO
