USE [bd_intermedia_2025_G01]
GO
/****** Object:  Table [dbo].[int_Customers_G01]    Script Date: 5/5/2026 15:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[int_Customers_G01](
	[CUSTOMER_ID] [varchar](50) NULL,
	[FULL_NAME] [varchar](200) NULL,
	[BIRTH_DATE] [date] NULL,
	[CITY] [varchar](100) NULL,
	[STATE] [varchar](50) NULL,
	[ZIPCODE] [varchar](20) NULL,
	[CUSTOMER_TYPE] [varchar](20) NULL
) ON [PRIMARY]
GO
